<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-8">
        <h5 class="text-white h4">Servicing</h5>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <h3> <span class="navbar-toggler-icon"></span>
        <a class="navbar-brand">Servicing</a></h3>      
    </button>
    </nav>
  </div>
  